<form novalidate [formGroup]="form" cdkTrapFocus>
  <p-panel [toggleable]="true" [header]="docDescription">
    <p-toolbar styleClass="jetti-form-toolbar">
      <ng-template pTemplate="start">
        <button pButton type="button" icon="fa fa-check-square-o" label="Execute" class="p-button-warn"
          [disabled]="!form.valid" (click)="Execute()"></button>
      </ng-template>
      <ng-template pTemplate="end">
        <button pButton type="button" icon="fa fa-close" class="p-button-danger" (click)="close()"></button>
      </ng-template>
    </p-toolbar>
    <div class="jetti-dynamic-form" cdkTrapFocus [cdkTrapFocusAutoCapture]="true" cdkFocusInitial>

      <div class="jetti-form-grid"
        *ngFor="let i of [0,3,6,9,12,15]">
        <div class="jetti-form-grid-cell">
          <j-control
            *ngIf="v[i+0] && v[i+0].order > 0 && v[i+0].order !== 1000 && v[i+0].controlType !== 'table' && v[i+0].controlType !== 'script'"
            [control]="v[i+0]" [form]="form"></j-control>
        </div>
        <div class="jetti-form-grid-cell">
          <j-control
            *ngIf="v[i+1] && v[i+1].order > 0 && v[i+1].order !== 1000 && v[i+1].controlType !== 'table' && v[i+1].controlType !== 'script'"
            [control]="v[i+1]" [form]="form"></j-control>
        </div>
        <div class="jetti-form-grid-cell">
          <j-control
            *ngIf="v[i+2] && v[i+2].order > 0 && v[i+2].order !== 1000 && v[i+2].controlType !== 'table' && v[i+2].controlType !== 'script'"
            [control]="v[i+2]" [form]="form"></j-control>
        </div>
      </div>

      <br *ngIf="tables.length">
      <p-tabs *ngIf="tables.length" [value]="0" class="jetti-form-tabs">
        <p-tablist>
          <p-tab *ngFor="let control of tables; let index = index" [value]="index">{{ control.label }}</p-tab>
        </p-tablist>
        <p-tabpanels>
          <p-tabpanel *ngFor="let control of tables; let index = index" [value]="index">
            <j-control [control]="control" [form]="form"></j-control>
          </p-tabpanel>
        </p-tabpanels>
      </p-tabs>

    </div>
    <ng-content></ng-content>
  </p-panel>
</form>

<p-confirmDialog [key]="id" appendTo="body" [closeOnEscape]="true" [closable]="true" #cd>
  <p-footer>
    <div cdkTrapFocus>
      <button type="button" pButton icon="fa fa-check" label="Yes" (click)="cd.onAccept()"></button>
      <button type="button" pButton icon="fa fa-close" label="No" (click)="cd.onReject()"></button>
    </div>
  </p-footer>
</p-confirmDialog>
