<div [formGroup]="form" [ngSwitch]="control.controlType" *ngIf="!control.hidden" [style.marginTop]="marginTop()"
  class="ui-fluid">
  <div *ngSwitchCase="'string'" class="ui-inputgroup" style="display: flex"
    [ngClass]="{'ui-float-label' : control.showLabel}">
    <input [required]="control.required" pInputText [formControlName]="control.key" [readonly]="control.readOnly"
      autocomplete="off" (focus)="$event.target.select()" spellcheck="false">
    <button pButton type="button" icon="pi pi-times" class="p-button-secondary" (click)="handleReset($event)"
      pTooltip="Clear" tooltipPosition="top" showDelay="2000" [tabindex]=-1
      [disabled]="this.isEMPTY || control.readOnly"></button>
    <label *ngIf="control.showLabel" [for]="control.key">{{control.label}}</label>
  </div>

  <div *ngSwitchCase="'URL'" class="ui-inputgroup" style="display: flex"
    [ngClass]="{'ui-float-label' : control.showLabel}">
    <input [required]="control.required" pInputText [formControlName]="control.key" [readonly]="control.readOnly"
      autocomplete="off" (focus)="$event.target.select()" spellcheck="false">
    <button pButton type="button" icon="pi pi-external-link" class="p-button-secondary" pTooltip="Open"
      tooltipPosition="top" showDelay="2000" [disabled]="this.isEMPTY" (click)="handleOpenURL($event)"
      [tabIndex]=-1></button>
    <button pButton type="button" icon="pi pi-times" class="p-button-secondary" (click)="handleReset($event)"
      pTooltip="Clear" tooltipPosition="top" showDelay="2000" [tabindex]=-1
      [disabled]="this.isEMPTY || control.readOnly"></button>
    <label *ngIf="control.showLabel" [for]="control.key">{{control.label}}</label>
  </div>

  <div *ngSwitchCase="'link'">
    <a *ngIf="!this.isEMPTY" (click)="handleOpenURL()">{{control.label + ": " + formControl.value}}</a>
  </div>

  <div *ngSwitchCase="'enum'" [ngClass]="{'ui-float-label' : control.showLabel}">
    <p-select [options]="control.valuesOptions" [formControlName]="control.key" [autoDisplayFirst]="false"
      [readonly]="control.readOnly" [required]="control.required" appendTo="body"></p-select>
    <label *ngIf="control.showLabel" [for]="control.key">{{control.label}}</label>
  </div>

  <div *ngSwitchCase="'textarea'" [ngClass]="{'ui-float-label' : control.showLabel}">
    <textarea [required]="control.required" pInputTextarea [formControlName]="control.key" [readonly]="control.readOnly"
      (focus)="$event.target.select()" spellcheck="false" [ngStyle]="control.style">
    </textarea>
    <label *ngIf="control.showLabel" [for]="control.key">{{control.label}}</label>
  </div>

  <div *ngSwitchCase="'HTML'">
    <angular-editor [required]="control.required" [formControlName]="control.key" spellcheck="false"
      [ngStyle]="control.style">
    </angular-editor>
  </div>

  <div *ngSwitchCase="'number'" [ngClass]="{'ui-float-label' : control.showLabel}">
    <p-inputNumber [required]="control.required" [formControlName]="control.key" [readonly]="control.readOnly"
      (onFocus)="$event.target.select()" [inputId]="control.key" [step]="0.01" [format]="true"
      [minFractionDigits]="2" [maxFractionDigits]="2">
    </p-inputNumber>
    <label *ngIf="control.showLabel" [for]="control.key">{{control.label}}</label>
  </div>

  <j-autocomplete-png #pc *ngSwitchCase="'autocomplete'" [required]="control.required" [formControlName]="control.key"
    [disableControl]="control.readOnly" [formControl]="form.controls[control.key]" [id]="control.key"
    [placeholder]="control.label" [hidden]="control.hidden" [type]="control.type" [owner]="control.owner"
    [showLabel]="control.showLabel" (focus)="pc.select()" [storageType]="control.storageType" [appendTo]="appendTo">
  </j-autocomplete-png>

  <div *ngSwitchCase="'date'" [ngClass]="{'ui-float-label' : control.showLabel}">
    <input pInputText class="calendar" [value]="dateTimeValue | date: 'yyyy-MM-dd'" [required]="control.required"
      [readonly]="control.readOnly" autocomplete="off" (input)="parseDate($event.target.value)"
      (focus)="$event.target.select()" spellcheck="false" type="date"
      [ngClass]="{'ng-dirty ng-invalid': formControl?.invalid }" [disabled]="this.formControl?.disabled">
    <label *ngIf="control.showLabel" [for]="control.key">{{control.label}}</label>
  </div>

  <div *ngSwitchCase="'datetime'" [ngClass]="{'ui-float-label' : control.showLabel}">
    <input pInputText class="calendar" [value]="dateTimeValue | date:'yyyy-MM-ddTHH:mm:ss'" step="1"
      [required]="control.required" [readonly]="control.readOnly" autocomplete="off"
      (input)="parseDate($event.target.value)" (focus)="$event.target.select()" spellcheck="false" type="datetime-local"
      [ngClass]="{'ng-dirty ng-invalid': formControl?.invalid }" [disabled]="this.formControl?.disabled">
    <label *ngIf="control.showLabel" [for]="control.key">{{control.label}}</label>
  </div>

  <div *ngSwitchCase="'boolean'" [style.marginTop]="control.showLabel ? '27px': ''">
    <p-checkbox *ngSwitchCase="'boolean'" binary="true" [inputId]="control.key"
      [formControlName]="control.key"></p-checkbox>
    <label *ngIf="control.showLabel" [for]="control.key">{{ control.label }}</label>
  </div>

  <div *ngSwitchCase="'table'">
    <div [formArrayName]="control.key">
      <j-table-part-png [formGroup]="form.controls[control.key]" [control]="control"></j-table-part-png>
    </div>
  </div>

  <div *ngSwitchCase="'script'">
    <label *ngIf="control.showLabel" [for]="control.key">{{ control.label }}:</label>
    <ngx-monaco-editor style="height: 200px" flex [options]="scriptEditorOptions" [ngStyle]="control.style"
      [formControlName]="control.key">
    </ngx-monaco-editor>
  </div>
</div>
